body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.graph-wrapper {
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    width: 85vw;
    margin: 2vmin;
}

input {
    width: 50vw;
    height: 4vh;
    margin: 1vmin;
    text-align: center;
}
